*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 97vh;
    width: 98vw;
    background: linear-gradient(to right, #1236674D, #8bccfd1d, #1236674D),
        url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pu2344531-image-kwvy7nwm.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=95afbd43c94256db3f295fbdd874028e") center top;
}

#root {
    height: 100%;
    width: 100%;
}

.app {
    width: 100%;
    }

.container-textarea {
    height: 25vh;
    width: 60%;
    margin: 1rem auto;
    
    box-shadow: 0 0 1rem 1rem #123667; 
    border-radius: 1rem;
}
.text-area {
    height: 100%;
    width: 100%;
    padding: 1.25rem;
    font-size: 1rem;
    margin: auto;
    border: none;
    overflow: auto;
    outline: none;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    border-radius: 1rem;
    background-color: #8bccfd;
}

.markdown {
    
    height: 100%;
    padding: 1.25rem;
    margin: auto;
    background-color: #8bccfd;
    border-radius: 1rem;
}

.container-markdown {
    
    width: 80%;
    margin: 1rem auto;
    
    box-shadow: 0 0 1rem 1rem #123667; 
    border-radius: 1rem;
}

.markdown *{
    border-bottom: 0.125rem solid gray;
}
